*.tgz
*.log
*.swp
.DS_Store

.github
node_modules
test
.editorconfig
.eslintignore
.eslintrc
.gitignore
.npmignore
.prettierrc.json
CONTRIBUTING.md
package-lock.json
rollup.config.js
tsconfig.json
tsconfig.base.json
vite.config.ts
